* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}


//Variables
$navHeight: 50px;
$secondaryColor: #FFF1E6;
$dropShadow: 0 0 0 75rem black;
$titleFont: 'Italiana', serif;

@mixin flexPosition($align, $justify, $direction) {
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    display: flex;
}

@mixin dropShadow($blur) {
    box-shadow: 0 0 $blur rgba(21, 21, 21, 0.772);
}

// Asset Styles
.bar-container {
    width: 100%;
    @include flexPosition(center, space-between, row);

    .bar {
        width: 0px;
        height: 1px;
        background: black;
        transition: all 0.3s ease;
        @include flexPosition(center, space-between, row);
    }

    .change-active {
        background: #D9D9D9;
    }
}

li:hover span.bar {
    width: 100%;
}

.icon-container {
    margin-top: 8px;

    img {
        width: 50px;
        height: auto;
        padding: 0.2rem;
    }
}

// Navbar Styles

.newsletter-bar {
    height: $navHeight;
    background: $secondaryColor;
    width: 100%;
    @include dropShadow(5px);
    @include flexPosition(center, center, row);
    position: relative;
    z-index: 10;
}

.newsletter-bar-container {
    width: 90%;
    height: $navHeight;
    @include flexPosition(center, center, row);
}

.newsletter-bar-paragraph {
    padding: 5px;
    font-size: clamp(0.3rem, 5vw + 1rem, 1rem);
    margin-right: 24px;
    font-weight: 300;
}

.form-data {
    width: min(400px, 70%);
    padding: 1em;

    .newsletter-email-input {
        border: none;
        width: min(200px, 70%);
        margin-right: 16px;
        background-color: #D9D9D9;
        border-radius: 8px;
        padding: 4px;
        transition: all 0.3s ease-in-out;
        @include dropShadow(4px);

        &:hover {
            @include dropShadow(8px);
            z-index: 1000;
        }
    }

    .newsletter-submit {
        border: none;
        background: #D9D9D9;
        @include dropShadow(4px);
        width: 70px;
        height: 24px;
        padding: 2px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            @include dropShadow(8px);
        }
    }

    @include flexPosition(center, center, row);
}

.navbar {
    height: $navHeight;
    width: 100%;
    @include flexPosition(center, center, row);
    z-index: 10;
    position: relative;

    .navbar-list {
        height: $navHeight;
        width: 80%;
        list-style: none;
        @include flexPosition(center, space-evenly, row);
    }

    .items {
        @include flexPosition(center, center, column);

        .links {
            width: 100%;
            padding: 4px;
            color: black;
            text-decoration: none;
            font-size: 1.8rem;
        }


        .change-active {
            color: white;
        }
    }
}

.responsive-navbar {
    min-width: 50%;
    max-height: 100%;
    @include flexPosition(center, center, column);
    z-index: 1;
    position: relative;
    display: none;

    .navbar-list {
        min-height: 100%;
        max-width: 80%;
        list-style: none;
        @include flexPosition(center, space-evenly, column);
    }

    .items {
        @include flexPosition(center, center, column);

        .links {
            width: 100%;
            padding: 1rem;
            color: $secondaryColor;
            text-decoration: none;
            font-size: 1.8rem;
        }

        .bar-container {
            .bar {
                background: $secondaryColor;
            }
        }
    }

}




// Home Page Styles

.home-page {
    width: 100%;
    min-height: 100%;
    @include flexPosition(center, flex-start, column);

    span.line-design {
        height: 1px;
        width: 200px;
        background: black;
        position: absolute;
        top: 700px;
        left: 40%;
        transform: rotateZ(90deg);

        &:nth-of-type(2) {
            top: 800px;
            left: 60%;
            transform: rotateZ(180deg);
        }
    }

    .home-introduction-container {
        margin-top: 60px;
        width: 80%;
        min-height: 200px;
        background: $secondaryColor;
        position: relative;
        @include flexPosition(center, space-evenly, row);
        @include dropShadow(12px);

        .home-introduction-img-container {
            width: 30%;
            @include flexPosition(flex-end, center, column);

            .home-introduction-img {
                width: min(500px, 100%);
                min-height: 100%;
                border: 1px solid black;
                @include dropShadow(18px)
            }
        }

        .home-introduction-content {
            @include flexPosition(center, center, column);
            max-width: 100%;
            min-height: 100%;

            .home-introduction-title {
                font-family: $titleFont;
                font-size: clamp(3rem, 7vw + 1rem, 7rem);
                padding: 0.25em;
                margin: 0 0.25em;
                font-weight: 400;
            }

            .home-introduction-slogan {
                font-family: $titleFont;
                font-size: clamp(0.5rem, 2vw + 1rem, 4rem);
                padding: 0 0.25em;
                margin: 0 0.25em;
            }

            .home-introduction-summary {
                font-size: clamp(0.5rem, 2vw + 1rem, 1rem);
                text-align: center;
                padding: 8px;
                margin: 1rem 0.5rem 0;
                font-weight: 300;
            }

            .form-data {
                margin-top: 1rem;
                width: max(7vw, 80%);

                .newsletter-email-input {
                    min-height: 1em;
                }
            }
        }
    }

    .home-about {
        max-width: 80%;
        min-height: 100%;
        @include flexPosition(center, space-between, row);
        margin-bottom: 7rem;

        .home-about-img {
            max-width: 100%;
            @include flexPosition(center, center, column);
            max-width: 50%;

            .home-display-img1 {
                width: min(500px, 100%);
                min-height: 100%;
                z-index: 2;
                margin: 50px 25px;
                filter: drop-shadow(0 0 1rem rgba(65, 65, 65, 0.71));
            }
        }

        .home-about-content {
            max-width: 70%;
            margin-top: 2rem;
            @include flexPosition(center, center, column);

            .home-about-title {
                font-family: $titleFont;
                text-align: center;
                font-size: clamp(2rem, 1vw + 1rem, 5rem);
                max-width: 80%;
            }

            .home-about-summary {
                text-align: center;
                font-size: clamp(1rem, 5vw - 1em, 2rem);
                font-weight: 300;
                margin-top: 25px;
                max-width: 80%;
            }
        }
    }

}

// About Page Style

// Artical Container Map

$articalBox: "artical-1",
    "artical-2",
    "artical-3";

@each $artical in $articalBox {
    .#{$artical} {
        max-width: 60%;
        min-height: 250px;
        margin: 50px 0;
        background: $secondaryColor;
        cursor: pointer;
        @include dropShadow(16px);
        @include flexPosition(center, flex-start, row);
    }
}


.artical-page {
    @include flexPosition(center, center, column);
    width: 100%;
    height: 100%;

    #artical-container {
        color: black;
        text-decoration: none;
    }

    .about-title {
        font-family: $titleFont;
        font-size: clamp(4.2rem, 5vw + 1rem, 8rem);
        margin-top: 50px;
    }

    .artical-img-container {
        min-height: 100%;
        margin-left: 20px;
        padding: 1rem;
        @include flexPosition(center, flex-start, row);

        .artical-img {
            object-fit: cover;
            height: 200px;
            width: 200px;
            @include dropShadow(12px);
        }
    }

    .artical-content {
        min-height: 250px;
        padding: 25px;
        max-width: 80%;
        @include flexPosition(flex-start, space-between, column);

        .coming-soon {
            font-family: $titleFont;
            text-align: center;
            font-size: clamp(2rem, 3vw - 1rem, 2.5rem);
            min-width: 100%;
        }

        .artical-title {
            font-family: $titleFont;
            font-size: clamp(1.5rem, 3vw - 1rem, 2rem);
            font-weight: 600;
            min-width: 100%;
            padding: 1rem;
        }

        .artical-summary {
            font-size: clamp(1.2rem, 4vw - 1rem, 1.4rem);
            font-weight: 300;
            min-width: 100%;
            padding: 1rem;
        }
    }
}

// About Me Styles

.about-contact-page {
    @include flexPosition(center, center, row);
    max-width: 100%;
    overflow: visible;
    height: clamp(500px, 70vw - 3rem, 600px);

    .img-template {
        min-width: 50vw;
        z-index: -100;
        overflow: visible;
        position: relative;

        img {
            height: clamp(700px, 90vw + 3rem, 1000px);
            width: min(50vw, 100%);
            top: -50px;
            object-position: -50px 100px;
        }
    }

    .about-content {
        max-width: 100%;
        @include flexPosition(center, flex-start, column);

        .about-title,
        .about-paragraph {
            width: 80%;
            margin-bottom: 25px;
        }

        .about-title {
            font-family: $titleFont;
            font-size: 4rem;
            padding: 5px;
            margin-bottom: 25px;
        }

        .about-paragraph {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    .contact-content {
        width: 50%;
        @include flexPosition(center, flex-start, column);

        .contact-title {
            font-family: $titleFont;
            font-size: 4rem;
            margin-top: 25px;
            padding: 5px;
        }

        p,
        .contact-summary {
            width: 80%;
            font-size: 1.4rem;
            font-weight: 300;

            &:nth-last-of-type(2) {
                margin-bottom: 50px;
            }
        }

        div {
            @include flexPosition(center, flex-start, row);
            width: 80%;

            .contact-summary {
                width: auto;
            }

            .icon-container {
                width: auto;

            }
        }
    }
}

// Blog Post

.blog-post-1 {
    @include flexPosition(center, center, row);
    width: 100%;
    overflow: visible;
    height: clamp(400px, 50vw - 3rem, 900px);

    .blog-img-template {
        max-width: 50%;
        min-height: 100%;
        z-index: -1;
        overflow: hidden;
        position: relative;

        img {
            max-width: 95%;
        }
    }

    .blog-container {
        max-width: 50%;
        height: max(550px, 100%);
        padding: 20px;
        overflow-x: scroll;

        .blog-content {
            max-width: 100%;

            @include flexPosition(center, flex-start, row);

            .scroll-indicator-container {
                position: relative;
                height: clamp(300px, 40vw - 1rem, 450px);
                @include flexPosition(center, center, column);
                max-width: 5%;
                margin-right: 2px;


                .scroll-indicator {
                    color: #000000;
                    transform: rotate(90deg);
                    font-size: 1.8rem;
                    min-width: 250px;
                    font-weight: 300;
                    margin-right: 20px;
                }
            }


            .blog-title,
            .blog-paragraph {
                width: 90%;
                margin-bottom: 25px;
            }

            .blog-title {
                font-family: $titleFont;
                font-size: clamp(1.6rem, 3.5vw - 1rem, 3.5rem);
                padding: 5px;
                margin-bottom: 25px;
            }

            .blog-paragraph {
                font-size: clamp(1rem, 2.5vw - 1rem, 1.4rem);
                font-weight: 300;
            }
        }
    }
}

.results {
    width: 75%;
    min-height: 20vw;
    background: #FFF1E6;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 15;
    border: 1px solid black;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center;
    @include flexPosition(center, center, column);

    .result-title {
        font-family: $titleFont;
        font-size: clamp(0.8rem, 2rem + 2vw, 10rem);
        padding: 0 20px;
    }

    .result-message {
        font-size: clamp(0.8rem, 1rem + 1vw, 2rem);
        padding: 0 20px;
        margin-bottom: 2rem;
    }

    .result-button {
        min-width: 5em;
        min-height: 20px;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 20px;
    }

}

.results.hide {
    display: none;
}









// Footer Styles

.footer {
    width: 100%;
    min-height: 400px;
    background: #FFF1E6;
    @include flexPosition(center, center, column);
    @include dropShadow(16px);

    .footer-container {
        width: 80%;
        height: 100%;
        @include flexPosition(center, center, row);

        .footer-socials {
            width: 100%;
            min-height: 275px;
            @include flexPosition(flex-start, center, column);

            .footer-socials-title {
                font-weight: 600;
                font-size: clamp(0.5rem, 2vw + 1rem, 3rem);
                padding: clamp(5px, 0.5vw, 10px);
            }

            .footer-socials-summary {
                font-weight: 300;
                font-size: 1.6rem;
                padding: clamp(5px, 0.5vw, 10px);
                text-align: centeer;
            }

            .form-data {
                max-width: 375px;
                @include flexPosition(center, flex-start, row);
                padding: clamp(2px, 0.5vw, 10px);

                .newsletter-email-input {
                    height: 30px;
                    max-width: 100%;
                    font-size: 1.2rem;
                }

                .newsletter-submit {
                    height: 30px;
                    font-size: 1rem;
                }
            }

            .icon-container {
                padding: clamp(5px, 0.5vw, 10px);
            }
        }

        .footer-navbar {
            width: 100%;
            min-height: 250px;
            @include flexPosition(center, center, column);

            .footer-navbar-title {
                font-family: $titleFont;
                font-size: 3rem;
                padding: 5px;
            }

            .footer-nav-list {
                list-style: none;

                li {
                    padding: 5px;
                    margin-bottom: 5px;
                    @include flexPosition(center, center, column);
                }

                a {
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                    font-size: 1.6rem;
                    font-weight: 300;
                    padding: 2px;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .navbar {
        display: flex;
        z-index: 0;
    }

    // Home Page
    .home-introduction-content {
        min-width: 100%;
    }

    .home-introduction-img {
        display: none;
    }

    .home-page .home-about .home-about-content {
        max-width: 80%;
    }

    .home-page .home-about {
        @include flexPosition(center, center, column);
    }

    // Artical Page
    @each $artical in $articalBox {
        .#{$artical} {
            @include flexPosition(center, flex-start, column);
            max-width: 40rem;
            margin-right: 20px;
            margin-left: 20px;
            border-radius: 2rem;

            .artical-content {
                text-align: center;
                max-width: 100%;
            }

            .artical-title {
                text-align: center;
            }

            .artical-athor {
                font-weight: 600;
            }
        }
    }

    // About Page
    .about-contact-page {
        min-height: calc(100vh - 450px);
        position: relative;
        top: -50px;
        z-index: 1;

        .img-template {
            display: none;
        }

        .about-container {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.37)), url("/public/images/about-image.jpg");
            min-width: 100vw;
            min-height: calc(100% + 100px);
            background-position: bottom 50% right 80%;
            background-size: cover;
            @include flexPosition(flex-end, center, row);

            .responsive-navbar {
                display: flex;
                position: relative;
                top: -20px;
                min-width: 30%;

                .links {
                    font-size: clamp(1.4rem, 4vw - 1rem, 1.8rem);
                }
            }

            .about-content {
                min-width: 70%;
                max-height: 500px;
                @include flexPosition(flex-start, center, column);
                z-index: 1;

                .about-title {
                    font-size: clamp(3rem, 3.5vw - 1rem, 4rem);
                    color: $secondaryColor;
                    padding-left: 20px;
                    min-width: 100%;
                }

                .about-paragraph {
                    font-size: clamp(0.6em, 3.5vw - 1em, 1rem);
                    color: $secondaryColor;
                    font-weight: 600;
                    padding-left: 20px;
                    min-width: 100%;
                }
            }


        }
    }

    .about-contact-page {
        min-height: calc(100vh - 450px);
        position: relative;
        top: -50px;
        z-index: 1;

        .img-template {
            display: none;
        }

        .contact-container {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.37)), url("/public/images/about-image.jpg");
            min-width: 100vw;
            min-height: calc(100% + 100px);
            background-position: bottom 50% right 80%;
            background-size: cover;
            @include flexPosition(flex-end, center, row);

            .responsive-navbar {
                display: flex;
                position: relative;
                top: -20px;
                min-width: 30%;

                .links {
                    font-size: clamp(1.4rem, 4vw - 1rem, 1.8rem);
                }
            }

            .contact-content {
                min-width: 70%;
                max-height: 500px;
                @include flexPosition(flex-start, center, column);
                z-index: 1;
            }

            .contact-title {
                font-size: clamp(3rem, 4vw + 1rem, 4rem);
                color: $secondaryColor;
                padding-left: 20px;
            }

            .contact-summary {
                font-size: clamp(0.8rem, 4vw - 1rem, 1.2rem);
                color: $secondaryColor;
                font-weight: 600;
                padding-left: 20px;
                margin-bottom: 20px;
            }

            .icon-container {
                margin-bottom: 20px;
                padding: 10px;

                .instagram-icon {
                    background-color: #FFF1E6;
                    border-radius: 100%;
                    padding: 1px;
                    margin: 5%;
                }

                .youtube-icon {
                    background-color: #FFF1E6;
                    border-radius: 100%;
                    padding: 1px;
                    margin: 5%;
                }

                .tik-tok-icon {
                    background-color: #FFF1E6;
                    border-radius: 100%;
                    padding: 1px;
                    margin: 5%;
                }
            }
        }
    }

    // Blog Post
    .blog-post-1 {
        min-height: calc(100vh - 450px);
        position: relative;
        top: -50px;
        z-index: 1;

        .blog-img-template {
            display: none;
        }


        .blog-container {
            max-width: 100vw;
            min-height: calc(100% + 100px);
            @include flexPosition(flex-end, flex-start, row);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/public/images/do-more.jpg");
            background-size: cover;
            background-position-y: -150px;
            padding: 0;

            .responsive-navbar {
                display: flex;
                min-width: 15%;
                min-height: 80%;
                @include flexPosition(center, center, column);
                margin-bottom: 20px;

                ul.navbar-list {
                    .links {
                        font-size: clamp(1.4rem, 4vw - 1rem, 1.8rem);
                        margin: 20px 0;
                    }
                }
            }

            .blog-content {
                max-width: 100vw;
                height: max(500px, 80%);
                margin: 20px;
                @include flexPosition(flex-start, center, row);
                background: rgba(111, 105, 105, 0.9);
                border-radius: 2rem;

                .scroll-indicator-container {
                    position: relative;
                    height: clamp(300px, 40vw - 1rem, 450px);
                    @include flexPosition(center, center, column);
                    max-width: 5%;
                    margin-right: 2px;


                    .scroll-indicator {
                        color: #FFF1E6;
                        transform: rotate(90deg);
                        font-size: 0.9rem;
                        min-width: 150px;
                        display: block;
                    }
                }

                .blog-content-container {
                    @include flexPosition(flex-start, flex-start, column);
                    width: 95%;
                    max-height: 100%;
                    overflow: scroll;
                    border-radius: 2em;
                }

                .blog-title {
                    color: #FFF1E6;
                    font-size: clamp(3rem, 5vw - 1rem, 4rem);
                    padding: 20px 5px 5px 8px;
                    margin-bottom: 10px;

                }

                .blog-paragraph {
                    color: #FFF1E6;
                    font-size: clamp(1rem, 5vw - 1rem, 1.4rem);
                    line-height: 2rem;
                    font-weight: 400;
                    min-width: 100%;
                    padding: 0 4px 0 8px;
                }
            }
        }
    }

}

@media(max-width: 700px) {

    .home-page .home-about {
        max-width: 100%;
    }

    .home-about-title,
    .home-about-summary {
        margin-top: 5rem;
        min-width: 100%;
    }

    .home-about-img,
    .home-display-img1 {
        display: none;
    }

    .footer .footer-container {
        @include flexPosition(center, center, column-reverse);
    }

    .footer .footer-container .footer-socials {
        @include flexPosition(center, center, column);

        .footer-socials-summary {
            text-align: center
        }
    }

    .footer .footer-container .footer-socials .form-data {
        @include flexPosition(center, center, column);

        .newsletter-email-input {
            margin: 0 0 10px 0;
        }
    }

    .newsletter-bar-container .form-data {
        display: none;
    }

    .newsletter-bar-paragraph {
        text-align: center;
    }

    .navbar .items .links {
        font-size: clamp(0.5rem, 0.9vw + 1rem, 1.8rem);
    }

    // About Page
    .about-contact-page {
        min-height: calc(100vh - 450px);
        position: relative;
        top: -50px;
        z-index: 1;


        .img-template {
            display: none;
        }

        .about-content {
            max-width: 100%;
            min-height: calc(100% + 100px);
            @include flexPosition(flex-start, flex-end, column);

            .about-title {
                font-size: clamp(3rem, 4vw + 1rem, 4rem);
                color: $secondaryColor;
                padding-left: 20px;
            }

            .about-paragraph {
                font-size: clamp(0.6rem, 4vw - 1rem, 1.2rem);
                color: $secondaryColor;
                font-weight: 600;
                padding-left: 20px;
            }
        }
    }

    .blog-post-1 {
        min-height: calc(100vh - 450px);
        position: relative;
        top: -50px;
        z-index: 1;

        .blog-img-template {
            display: none;
        }


        .blog-container {
            max-width: 100vw;
            max-height: calc(100% + 100px);
            @include flexPosition(center, flex-start, column-reverse);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/public/images/do-more.jpg");
            background-size: cover;
            background-position-y: -150px;

            .responsive-navbar {
                min-width: 80%;
                min-height: clamp(50px, 40vw - 1rem, 100px);
                margin-bottom: 20px;
                @include flexPosition(center, center, row);

                .navbar-list {
                    @include flexPosition(center, space-between, row);
                    min-width: 100%
                }

                .navbar-list {
                    min-height: 50px;
                    .links {
                        padding: 0;
                        font-size: clamp(1rem, 8vw - 1rem, 1.8rem);

                    }
                }
            }

            .blog-content {
                max-width: 100vw;
                margin: 0 20px;
                height: max(300px, 70%);
                margin: 20px;
                @include flexPosition(flex-start, center, row);
                background: rgba(111, 105, 105, 0.9);
                border-radius: 2rem;
                margin-bottom: 100px;

                .scroll-indicator-container {
                    position: relative;
                    height: clamp(300px, 40vw - 1rem, 450px);
                    @include flexPosition(center, center, column);
                    max-width: 5%;
                    margin-right: 2px;


                    .scroll-indicator {
                        color: #FFF1E6;
                        transform: rotate(90deg);
                        font-size: 0.9rem;
                        min-width: 150px;
                        display: block;
                    }
                }

                .blog-content-container {
                    @include flexPosition(flex-start, flex-start, column);
                    width: 95%;
                    max-height: 100%;
                    overflow: scroll;
                    border-radius: 2em;
                }

                .blog-title {
                    color: #FFF1E6;
                    font-size: clamp(1.8rem, 5vw - 1rem, 2rem);
                    padding: 20px 5px 5px 8px;
                    margin-bottom: 10px;

                }

                .blog-paragraph {
                    color: #FFF1E6;
                    font-size: clamp(1rem, 5vw - 1rem, 1.4rem);
                    line-height: 2rem;
                    font-weight: 400;
                    min-width: 100%;
                    padding: 0 4px 0 8px;
                }
            }
        }
    }
}